{#
Adds a block of custom form fields.

extras - The fields to add.
errors - A dict of errors for the fields.
limit  - The total number of fields that should be output.
Example:

  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}

#}
{% import "macros/form.html" as form %}

<div data-module="custom-fields">
<br>
  {% set nombre = {'Frequency': 'Frecuencia de actualización', 'metadata_created': 'Fecha de primera publicación del conjunto de datos', 'metadata_modified': 'Fecha de última modificación del conjunto de datos', 'TemporalFrom': 'Cobertura temporal del conjunto de datos', 'TemporalUntil': ''} %}
  {% set keys = ['Frequency', 'metadata_created', 'metadata_modified', 'TemporalFrom', 'TemporalUntil'] %}
  {% set detail = {
     'Frequency': ['Por favor, indica la frecuencia con la que se actualiza la información del conjunto de datos:'],
     'metadata_created': ['Fecha de primera publicación del conjunto de datos (esta información la rellena automáticamente el sistema)'],
     'metadata_modified': ['Fecha de última modificación del conjunto de datos (esta información la rellena automáticamente el sistema)'],
     'TemporalFrom': ['Por favor, indica en este campo el periodo temporal del que contiene información tu conjunto de datos. Si tu conjunto de datos está vivo y se va refrescando a medida que pasa el tiempo, deja en blanco la parte de "hasta…". En ese caso entenderemos que tu conjunto de datos contiene información desde la fecha que indiques hasta la actualidad.', 'Este conjunto de datos contiene información desde '],
     'TemporalUntil': ['', 'hasta']
  } %}
  {% set hint = {'Frequency': 'Ejemplo 1: En este caso, al ser una encuesta anual que no se actualiza, este campo lo dejaríamos sin rellenar.

Ejemplo 2: "Instantánea"', 'metadata_created': '', 'metadata_modified': '', 'TemporalFrom': 'Ejemplo 1: "Desde 01:01:2010:00:00:00  hasta 31:12:2010:23:59:59"

 Ejemplo 2: "Desde 01:07:2004:00:00:00 hasta" No escribimos nada después de hasta porque la información está actualizada a fecha de hoy', 'TemporalUntil': ''} %}

  {% set optionsFrequencyDict = {
       'Quinquenal': 'Quinquenal (cada 5 años) (no es NTI)',
       'Cada 4 años': 'Cada 4 años (no es NTI)',
       'Bienal': 'Bienal (cada 2 años)',
       'Anual': 'Anual (cada año)',
       'Semestral': 'Semestral (cada 6 meses)',
       'Cuatrimestral': 'Cuatrimestral (cada 4 meses)',
       'Trimestral': 'Trimestral (cada 3 meses)',
       'Bimestral': 'Bimestral (cada 2 meses)',
       'Mensual': 'Mensual (cada mes)',
       'Bimensual': 'Bimensual (2 veces al mes)',
       'Quincenal': 'Quincenal (cada 15 días)',
       'Trimensual': 'Trimensual (3 veces al mes)',
       'Semanal': 'Semanal (cada semana)',
       'Bisemanal': 'Bisemanal (2 veces a la semana)',
       'Trisemanal': 'Trisemanal (3 veces a la semana)',
       'Diaria': 'Diaria (cada día)',
       'Horaria': 'Horaria (cada hora)',
       'Instantánea': 'Instantánea (en el momento de solicitarse)',
       '': 'Desconocida'
    }
  %}

  {% set optionsFrequency = [
       'Quinquenal',
       'Cada 4 años',
       'Bienal',
       'Anual',
       'Semestral',
       'Cuatrimestral',
       'Trimestral',
       'Bimestral',
       'Mensual',
       'Bimensual',
       'Quincenal',
       'Trimensual',
       'Semanal',
       'Bisemanal',
       'Trisemanal',
       'Diaria',
       'Horaria',
       'Instantánea',
       ''
    ]
  %}

  {% if data.id %}
    {{ form.inputTime('mdCreation', id='mdCreationkey', label=nombre['metadata_created'], value=data.metadata_created, error='', classes=[], attrs={'disabled': 'true'}, content=detail['metadata_created'], moreInfo=hint['metadata_created'], showLabel=true) }}
      <div style="height:22px"></div>
    {{ form.inputTime('mdModification', id='mdModificationkey', label=nombre['metadata_modified'], value=data.metadata_modified, error='', classes=[], attrs={'disabled': 'true'}, content=detail['metadata_modified'], moreInfo=hint['metadata_modified'], showLabel=true) }}
      <div style="height:22px"></div>
  {% endif %}

  {% set hasFrequency = [] %}

  {# temporal extras in the metadata editor start in 1100 #}
  {% for extra in extras %}
    {% if 'Frequency' == extra.key %}
      {{ form.input('extras__1100__key', id='extras__1100__key', label=nombre['Frequency'], placeholder='', value='Frequency', error='', classes=['oculto'], attrs={}) }}
      {{ form.select('extras__1100__value', id='extras__1100__value', label=nombre['Frequency'], options=optionsFrequency, optionsDict=optionsFrequencyDict, selected=extra.value, error='', content=detail['Frequency'], moreInfo=hint['Frequency']) }}
      {% do hasFrequency.append(1) %}
    {% endif %}
  {% endfor %}

  {% if not hasFrequency %}
    {{ form.input('extras__1100__key', id='extras__1100__key', label=nombre['Frequency'], placeholder='', value='Frequency', error='', classes=['oculto'], attrs={}) }}
    {{ form.select('extras__1100__value', id='extras__1100__value', label=nombre['Frequency'], options=optionsFrequency, optionsDict=optionsFrequencyDict, selected='', error='', content=detail['Frequency'], moreInfo=hint['Frequency']) }}
  {% endif %}
  
  <div style="height:22px"></div>

  {% set hasFrom = [] %}
  {% set hasUntil = [] %}

  {% for extra in extras %}
    {% if 'TemporalFrom' == extra.key %}
      {{ form.inputTime('TemporalFrom', id='TemporalFrom', label=nombre['TemporalFrom'], value=extra.value, error='', classes=[], attrs={}, content=detail['TemporalFrom'], moreInfo=hint['TemporalFrom'], showLabel=true) }}
      {{ form.input('extras__1101__key', id='extras__1101__key', value='TemporalFrom', error='', classes=['oculto'], attrs={}) }}
      {{ form.input('extras__1101__value', id='extras__1101__value', value='', error='', classes=['oculto'], attrs={}) }}
      {% do hasFrom.append(1) %}
    {% endif %}
    {% if 'TemporalUntil' == extra.key %}
      {{ form.inputTime('TemporalUntil', id='TemporalUntil', label=nombre['TemporalUntil'], value=extra.value, error='', classes=[], attrs={}, content=detail['TemporalUntil'], moreInfo=hint['TemporalUntil'], showLabel=false) }}
      {{ form.input('extras__1102__key', id='extras__1102__key', value='TemporalUntil', error='', classes=['oculto'], attrs={}) }}
      {{ form.input('extras__1102__value', id='extras__1102__value', value='', error='', classes=['oculto'], attrs={}) }}
      {% do hasUntil.append(1) %}
    {% endif %}
  {% endfor %}

  {% if not hasFrom %}
      {{ form.inputTime('TemporalFrom', id='TemporalFrom', label=nombre['TemporalFrom'], value='', error='', classes=[], attrs={}, content=detail['TemporalFrom'], moreInfo=hint['TemporalFrom'], showLabel=true) }}
      {{ form.input('extras__1101__key', id='extras__1101__key', value='TemporalFrom', error='', classes=['oculto'], attrs={}) }}
      {{ form.input('extras__1101__value', id='extras__1101__value', value='', error='', classes=['oculto'], attrs={}) }}
  {% endif %}

  {% if not hasUntil %}
      {{ form.inputTime('TemporalUntil', id='TemporalUntil', label=nombre['TemporalUntil'], value='', error='', classes=[], attrs={}, content=detail['TemporalUntil'], moreInfo=hint['TemporalUntil'], showLabel=false) }}
      {{ form.input('extras__1102__key', id='extras__1102__key', value='TemporalUntil', error='', classes=['oculto'], attrs={}) }}
      {{ form.input('extras__1102__value', id='extras__1102__value', value='', error='', classes=['oculto'], attrs={}) }}
  {% endif %}

</div>

