/ckan/public/base/javascript/modules/aod_funcs.human.js~
/ckan/templates/package/snippets/additional_info.html~
/public/aod_funcs_wiki.human.js~
/public/js/recomendacion.js~
/ckan/templates/snippets/package_item.html~
/public/themes/aod/style.human.css~
/public/themes/aod/tipografia.css~
/ckan/controllers/package.py~
/ckan/templates/organization/snippets/organization_ficha.html~
/.idea/
/.project
/.pydevproject
/.gitignore
