{#
Adds a block of custom form fields.

extras - The fields to add.
errors - A dict of errors for the fields.
limit  - The total number of fields that should be output.
Example:

  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}

#}
{% import "macros/form.html" as form %}

<div data-module="custom-fields">
<br>
  {% set nombre = {"Data Quality": "Calidad del dato", "Data Quality URL": "", "Granularity": "Nivel de detalle", "Data Dictionary": "Diccionario de datos", "Data Dictionary URL": "", "References": "Referencia"} %}
  {% set placehol = {"Data Quality": "Calidad del dato", "Data Quality URL": "URL de acceso", "Granularity": "Nivel de detalle", "Data Dictionary": "Diccionario de datos", "Data Dictionary URL": "URL de acceso", "References": "Referencia"} %}
  {% set keys = ["Data Quality", "Data Quality URL", "Granularity", "Data Dictionary", "Data Dictionary URL", "References"] %}
  {% set detail = {
     "Data Quality": ["Si has utilizado alguna metodología para controlar la calidad de los datos este es el lugar para explicarla."], 
     "Data Quality URL": ["Si tus metodologías de control de calidad están explicadas en un enlace externo copia aquí la dirección o direcciones."], 
     "Granularity": ['Este campo debe indicar el menor nivel de detalle al que se refiere el conjunto de datos. El menor nivel de detalle se puede referir a diferentes "dimensiones" del conjunto de datos si es que este las tuviera, por lo que en este campo se admite más de una palabra.', 'Por ejemplo el menor nivel de detalle dentro de una "dimensión" temporal podrían ser segundos, minutos, horas…; en la "dimensión" espacial podría ser calle, código postal, municipio…; en la "dimensión" de entidades podría ser persona, escuela, parque natural…', 'Escribe la primera letra de cada nivel de detalle en mayúscula y el resto en minúscula.'],
     "Data Dictionary": ["En este campo puedes comentar y añadir cualquier clase de información que ayude a la comprensión del conjunto de datos. De manera más amplia que en el campo descripción puedes incorporar aquí comentarios y enlaces de interés"],
     "Data Dictionary URL": ["Si la información de interés se encuentra publicada en un enlace externo copia aquí la dirección o direcciones"],
     "References": ["Referencia"]
  } %}
  {% set hint = {"Data Quality": 'Ejemplo 1: "Metodología de cálculo según norma UNE 178301"

Ejemplo 2: "Utilización de terminología recomendada por la Organización Internacional del Turismo"', "Data Quality URL": "Ayuda", "Granularity": 'Ejemplo 1: "Hogar"

Ejemplo 2: "Cafetería, Restaurante"', "Data Dictionary": 'Ejemplo 1: "Muestra de la encuesta que configura los datos: 4.534 hogares, 2.277 personas Significado del dato 666: No aplica (no forma parte de la base utilizada para el cálculo del dato, por lo que no se le aplica la pregunta)"

Ejemplo2: "http://xxxxxxxxxxx" En este caso referenciamos a un enlace externo en el que hay un documento que muestra el significado de las columnas de nuestra base de datos"', "Data Dictionary URL": "Ayuda", "References": "Ayuda"} %}


  {% set granul = [] %}

  {% for extra in extras %}
    {% if 'Granularity' == extra.key %}
      {% do granul.append(extra.value) %}
    {% endif %}
  {% endfor %}

  {% if granul %}
    {{ form.inputExtra('Granularity', id='extras__4000', label=nombre["Granularity"], placeholder=placehol["Granularity"], value=granul[0], error='', classes=[], attrs={}, content=detail["Granularity"], moreInfo=hint["Granularity"]) }}
  {% else %}
    {{ form.inputExtra('Granularity', id='extras__4000', label=nombre["Granularity"], placeholder=placehol["Granularity"], value='', error='', classes=[], attrs={}, content=detail["Granularity"], moreInfo=hint["Granularity"]) }}
  {% endif %}

  <div style="height:22px"></div>

  {% set datQual = [] %}
  {% set datQualURL = [] %}
  {% for extra in extras %}
    {% if extra.key %}
      {% if 'Data Quality' == extra.key %}
        {% do datQual.append(extra.value) %}
      {% endif %}
      {% if extra.key.startswith('Data Quality URL') %}
        {% do datQualURL.append(extra.value) %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if datQual %}
    {{ form.inputExtra('Data Quality', id='extras__4001', label=nombre["Data Quality"], placeholder=placehol["Data Quality"], value=datQual[0], error='', classes=[], attrs={}, content=detail["Data Quality"], moreInfo=hint["Data Quality"], isTextArea=true) }}
  {% else %}
    {{ form.inputExtra('Data Quality', id='extras__4001', label=nombre["Data Quality"], placeholder=placehol["Data Quality"], value='', error='', classes=[], attrs={}, content=detail["Data Quality"], moreInfo=hint["Data Quality"], isTextArea=true) }}
  {% endif %}

  {{ form.inputList('Data Quality URL', id='extras__4010', label=nombre["Data Quality URL"], placeholder=placehol["Data Quality URL"], value=datQualURL, error='', classes=[], attrs={}, content=detail["Data Quality URL"], moreInfo=hint["Data Quality URL"]) }}

  <div style="height:22px"></div>

  {% set datDicti = [] %}
  {% set datDictiURL = [] %}
  {% for extra in extras %}
    {% if extra.key %}
      {% if 'Data Dictionary' == extra.key %}
        {% do datDicti.append(extra.value) %}
      {% endif %}
      {% if extra.key.startswith('Data Dictionary URL') %}
        {% do datDictiURL.append(extra.value) %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if datDicti %}
    {{ form.inputExtra('Data Dictionary', id='extras__4002', label=nombre["Data Dictionary"], placeholder=placehol["Data Dictionary"], value=datDicti[0], error='', classes=[], attrs={}, content=detail["Data Dictionary"], moreInfo=hint["Data Dictionary"], isTextArea=true) }}
  {% else %}
    {{ form.inputExtra('Data Dictionary', id='extras__4002', label=nombre["Data Dictionary"], placeholder=placehol["Data Dictionary"], value='', error='', classes=[], attrs={}, content=detail["Data Dictionary"], moreInfo=hint["Data Dictionary"], isTextArea=true) }}
  {% endif %}

  {{ form.inputList('Data Dictionary URL', id='extras__4020', label=nombre["Data Dictionary URL"], placeholder=placehol["Data Dictionary URL"], value=datDictiURL, error='', classes=[], attrs={}, content=detail["Data Dictionary URL"], moreInfo=hint["Data Dictionary URL"]) }}

<span class="oculto">
  {% for extra in extrasIAEST %}
    {% if extra.key %}
        {{ form.inputExtra(extra.key, id='extras__4050%d' % (loop.index), label=extra.key, value=extra.value, error='', classes=[], attrs={}) }}
    {% endif %}
  {% endfor %}
</span>


</div>
