{#
Adds a block of custom form fields.

extras - The fields to add.
errors - A dict of errors for the fields.
limit  - The total number of fields that should be output.
Example:

  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}

#}
{% import "macros/form.html" as form %}

<div data-module="custom-fields">
      <br>
      <div class="control-label fieldName">Cobertura geográfica</div>
      <div class="mandatory" title="Obligatorio">*</div>
      <div class="hintPopup i_i hintPopupHelp" title='Ejemplo1: "Aragón"

Ejemplo2: "Aragón"'>i</div>

      <div style="height:44px"></div>  
<div style="padding-left:10px;padding-right:10px;">
Por favor introduce el ámbito geográfico del que tu conjunto de datos contiene información. Únicamente es posible escribir dentro de una de las opciones que se muestran y además hay que hacerlo con uno de los territorios que se da en los listados (salvo si se rellena el campo otro)
</div>
  {% set typeAragopedia = [] %}
  {% set nameAragopedia = [] %}
  {% set uriAragopedia = [] %}
  {% set shortUriAragopedia = [] %}

  {% for extra in extras %}
    {% if 'typeAragopedia' == extra.key %}
      {% do typeAragopedia.append(extra.value) %}
    {% endif %}
    {% if 'nameAragopedia' == extra.key %}
      {% do nameAragopedia.append(extra.value) %}
    {% endif %}
    {% if 'uriAragopedia' == extra.key %}
      {% do uriAragopedia.append(extra.value) %}
    {% endif %}
    {% if 'shortUriAragopedia' == extra.key %}
      {% do shortUriAragopedia.append(extra.value) %}
    {% endif %}
  {% endfor %}

  <input type="text" placeholder="" value="typeAragopedia" name="extras__2000__key" class="oculto" id="extras__2000__key">
  {% if typeAragopedia %}
    <input type="text" placeholder="" value="{{typeAragopedia[0]}}" name="extras__2000__value" class="oculto" id="extras__2000__value">
  {% else %}
    <input type="text" placeholder="" value="" name="extras__2000__value" class="oculto" id="extras__2000__value">
  {% endif %}

  <input type="text" placeholder="" value="nameAragopedia" name="extras__2001__key" class="oculto" id="extras__2001__key">
  {% if nameAragopedia %}
    <input type="text" placeholder="" value="{{nameAragopedia[0]}}" name="extras__2001__value" class="oculto" id="extras__2001__value">
  {% else %}
    <input type="text" placeholder="" value="" name="extras__2001__value" class="oculto" id="extras__2001__value">
  {% endif %}  

  <input type="text" placeholder="" value="uriAragopedia" name="extras__2002__key" class="oculto" id="extras__2002__key">
  {% if uriAragopedia %}
    <input type="text" placeholder="" value="{{uriAragopedia[0]}}" name="extras__2002__value" class="oculto" id="extras__2002__value">
  {% else %}
    <input type="text" placeholder="" value="" name="extras__2002__value" class="oculto" id="extras__2002__value">
  {% endif %}  

  <input type="text" placeholder="" value="shortUriAragopedia" name="extras__2003__key" class="oculto" id="extras__2003__key">
  {% if shortUriAragopedia %}
    <input type="text" placeholder="" value="{{shortUriAragopedia[0]}}" name="extras__2003__value" class="oculto" id="extras__2003__value">
  {% else %}
    <input type="text" placeholder="" value="" name="extras__2003__value" class="oculto" id="extras__2003__value">
  {% endif %}  

  <ul class="spatial">
  {% if typeAragopedia %}
    {% if nameAragopedia %}
      {% if typeAragopedia[0] == "Aragón" %}
        <li><input type="radio" name="typeSpatial" value="Aragón" checked> Aragón</li>
      {% else %}
        <li><input type="radio" name="typeSpatial" value="Aragón"> Aragón</li>
      {% endif %}

      {% if typeAragopedia[0] == "Provincia" %}
        <li><input type="radio" name="typeSpatial" value="Provincia" checked><label for="spatial_provincia"> Provincia de: </label><input id="spatial_provincia" value="{{nameAragopedia[0]}}"></li>
      {% else %}
        <li><input type="radio" name="typeSpatial" value="Provincia"><label for="spatial_provincia"> Provincia de: </label><input id="spatial_provincia"></li>
      {% endif %}

      {% if typeAragopedia[0] == "Comarca" %}
        <li><input type="radio" name="typeSpatial" value="Comarca" checked><label for="spatial_comarca"> Comarca de: </label><input id="spatial_comarca" value="{{nameAragopedia[0]}}"></li>
      {% else %}
        <li><input type="radio" name="typeSpatial" value="Comarca"><label for="spatial_comarca"> Comarca de: </label><input id="spatial_comarca"></li>
      {% endif %}

      {% if typeAragopedia[0] == "Municipio" %}
        <li><input type="radio" name="typeSpatial" value="Municipio" checked><label for="spatial_municipio"> Municipio de: </label><input id="spatial_municipio" value="{{nameAragopedia[0]}}"></li>
      {% else %}
        <li><input type="radio" name="typeSpatial" value="Municipio"><label for="spatial_municipio"> Municipio de: </label><input id="spatial_municipio"></li>
      {% endif %}

      {% if typeAragopedia[0] == "Otro" %}
        <li><input type="radio" name="typeSpatial" value="Otro" checked><label for="spatial_otro"> Otro: </label><input id="spatial_otro" value="{{nameAragopedia[0]}}"></li>
      {% else %}
        <li><input type="radio" name="typeSpatial" value="Otro"><label for="spatial_otro"> Otro: </label><input id="spatial_otro"></li>
      {% endif %}
    {% endif %}  
  {% else %}
    <li><input type="radio" name="typeSpatial" value="Aragón" checked> Aragón</li>  
    <li><input type="radio" name="typeSpatial" value="Provincia"><label for="spatial_provincia"> Provincia de: </label><input id="spatial_provincia"></li>
    <li><input type="radio" name="typeSpatial" value="Comarca"><label for="spatial_comarca"> Comarca de: </label><input id="spatial_comarca"></li>
    <li><input type="radio" name="typeSpatial" value="Municipio"><label for="spatial_municipio"> Municipio de: </label><input id="spatial_municipio"></li>
    <li><input type="radio" name="typeSpatial" value="Otro"><label for="spatial_otro"> Otro: </label><input id="spatial_otro"></li>
  {% endif %}
  </ul>


  {% set nombre = {"Spatial": "Cobertura Geográfica"} %}
  {% set placehol = {"Spatial": "Cobertura Geográfica"} %}
  {% set keys = ["Spatial"] %}
  {% set detail = {
     "Spatial": ["Por favor introduce el ámbito geográfico del que contiene información tu conjunto de datos."]
  } %}
  {% set hint = {"Spatial": "Ayuda"} %}

  {% set current_type = [] %}
  {% set current_uri = [] %}
  {% set current_value = [] %}

  {% for extra in extras %}
    {% if extra.key == 'Spatial' %}
      {% do current_value.append(extra.value) %}
    {% endif %}
    {% if extra.key == 'Spatial_uri' %}
      {% do current_uri.append(extra.value) %}
    {% endif %}
    {% if extra.key == 'Spatial_type' %}
      {% do current_type.append(extra.value) %}
    {% endif %}
  {% endfor %}

  {# for extra in extras %}
    {% if extra.key == 'Spatial' %}
  {% set index = loop.index0 %}
  {% set prefix = 'extras-spatial__%d__' % index %}
  {% set prefixField = 'field-extras-spatial-%d-' % index %}
     {{ form.input(prefix ~ 'key', id=prefixField ~ 'key', label=nombre[extra.key], placeholder='', value=extra.value, error='', classes=[], attrs={}, content=detail[extra.key], moreInfo=hint[extra.key]) }}
    {% endif %}
  {% endfor #}



</div>
