<footer>
	<section>
		<article class="mid">
			<div class="trescol r">
				<h2>AVISO LEGAL</h2>
				<div class="trescol_child">
					<h3>
						<a href="/terminos">TERMINOS DE USO</a>
					<h3>

					<div class="eur-logo">
						<div class="img-eur-logo">
							<img src="/images/footer/flag-europe.jpg" style="padding-left: 5px;">
						</div>
						<div class="txt-eur-logo">
							<p class="normal-txt-eur">union europea </p>
							<p class="normal-txt-eur">fondo europeo de desarrollo regional (feder)</p>
							<span class="italic-txt-eur">"Construyendo Europa desde Aragón"</span>
						</div>
					</div>

					<div class="cc-logo">
						<div class="imgn">
							<img src="/images/footer/cc.png" width="100px">
						</div>
						<div class="txt-cc-logo">
							<p>Los contenidos del portal están sujetos a licencia creative commons reconocimiento 4.0 salvo que se indique lo contrario</p>
						</div>
					</div>
				</div>
			</div>

			<div class="trescol r">
				<h2>CONTENIDO DESTACADO</h2>
				<div class="trescol_child">
					<ul>
						<li><a href="/datos/catalogo.html">BANCO DE DATOS</a></li>
						<li><a href="/servicios/aragopedia">ARAGOPEDIA</a></li>
						<li><a href="/servicios/open-social-data">OPEN SOCIAL DATA</a></li>
						<li><a href="/info/colabora">COLABORA</a></li>
						<li><a href="/info/aplicaciones">APLICACIONES</a></li>
						<li><a href="/info/open-data">INFO OPEN DATA</a></li>
					</ul>
				</div>
			</div>

			<div class="trescol">
				<h2>POWERED BY</h2>
				<div class="trescol_child logos_div">
					<ul class="logos">
						<li><a href="http://ckan.org/" target="_blank"><img src="/images/footer/cajaLogoCKAN.jpg"></a></li>
						<li><a href="http://www.mediawiki.org/" target="_blank"><img src="/images/footer/cajaLogoMediaWiki.jpg"></a></li>
						<li><a href="http://virtuoso.openlinksw.com/" target="_blank"><img src="/images/footer/cajaLogoVirtuoso.jpg"></a></li>
						<li><a href="https://www.wolfcms.org/" target="_blank"><img src="/images/footer/cajaLogoWOLF.jpg"></a></li>
						<li><a href="http://epimorphics.github.io/elda//" target="_blank"><img src="/images/footer/cajaLogoElda.jpg"></a></li>
						<li><a href="http://swagger.io/" target="_blank"><img src="/images/footer/cajaLogoSwagger.jpg"></a></li>
						<li><a href="https://www.dartlang.org/" target="_blank"><img src="/images/footer/cajaLogoDart.jpg"></a></li>
						<li><a href="https://webdev.dartlang.org/angular" target="_blank"><img src="/images/footer/cajaLogoAngularDart.jpg"></a></li>
					</ul>
				</div>
			</div>
		</article>

		<article class="gob">

			<div class="doscol">
				<img src="/images/footer/logo-aragob-blanco.png" width="150px">
				<h3>Gobierno de Aragón - Edificio Pignatelli - Paseo María Agustín, 36, 50071 - Zaragoza - Tel 97671400</h3>
			</div>

			<div class="doscol">
<ul class="social-nw">
<li> <a href="mailto:opendata@aragon.es" class="mail"><i class="fa fa-envelope-o"><span>AOD</span></i></a></li>
<li> <a href="https://www.facebook.com/observatorio.aragones" class="facebook"><i class="fa fa-facebook-official"></i></a></li>
<li> <a href="https://twitter.com/oasi" class="twitter"><i class="fa fa-twitter"></i></a></li>
<li> <a href="https://www.youtube.com/watch?v=8d409yteTJM&list=PLQ3k0vA0UZvhBVOz_mCq-9Wyn3VCB6QCe" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
</ul>
</div>

		</article>
	</section>
</footer>
