<link rel="stylesheet" type="text/css" href="/public/homeV3/prueba.css">
<script>
function myFunction() {
    var _header = document.getElementsByClassName('header2')[0];
    if (_header.style.display === 'none') {
        _header.style.display = 'block';
    } else {
        _header.style.display = 'none';
    }
}
</script>

<script>
function buscaCkan(){
    text = document.getElementById("buscador_header").value;
    window.location.href = "/catalogo/catalogo.html?q=" + text;
    return false;
}
</script>
<header><div id="aragonHeader">
    <div id="cabeceraRelacionados">
        <ul>
            <li class="clear visible-xs tamCero"></li>
            <li><a href="http://transparencia.aragon.es/" target="_blank" title="Transparencia">TRANSPARENCIA</a></li>
            <li><a href="http://aragonparticipa.aragon.es" target="_blank" title="Participación ciudadana">PARTICIPACIÓN CIUDADANA</a></li>
            <li class="active"><a href="http://opendata.aragon.es" title="Open data">OPEN DATA</a>
                <p class="clear visible-xs"></p>
            </li>
        </ul>
    </div>
</div>
<div id="aragonNav" class="header1">
    
    <div class="" id="h-top">
    <a href="/" class="router-link-active"">
        <img class="logo" src="/images/home/nav-bar/AOD-Logo.png">
    </a>
    <a class="menuLogin" href="/catalogo/pizarra">
        <img src="/images/home/nav-bar/Boton-Acceso-Usuarios-OFF.png" 
        onmouseover="this.src='/images/home/nav-bar/Boton-Acceso-Usuarios-ON.png'"
        onmouseout="this.src='/images/home/nav-bar/Boton-Acceso-Usuarios-OFF.png'"
        border="0" alt=""/>
        <!--<img src="/images/home/nav-bar/Boton-Acceso-Usuarios-OFF.png">-->
    </a>
    <a class="menu"  onclick="myFunction()">
        <img src="/images/home/nav-bar/Boton-Menu-Responsive-OFF.png" 
        onmouseover="this.src='/images/home/nav-bar/Boton-Menu-Responsive-ON.jpg'"
        onmouseout="this.src='/images/home/nav-bar/Boton-Menu-Responsive-OFF.png'"
        border="0" alt=""/>
        <!--<img class="boton" src="/images/home/nav-bar/Boton-Menu-Responsive-OFF.png">-->
    </a>
    </div>
</div>
<div id="aragonNav" class="header2" style="display:none;">
    <div class="b-black" id="h-top">
    <a href="/" class="router-link-active">
        <img class="logo" src="/images/home/nav-bar/AOD-Logo-Responsive.png">
    </a>
    <a class="menuLogin" href="/catalogo/pizarra">
        <img src="/images/home/nav-bar/Boton-Acceso-Usuarios-gris.png" 
        onmouseover="this.src='/images/home/nav-bar/Boton-Acceso-Usuarios-blanco.png'"
        onmouseout="this.src='/images/home/nav-bar/Boton-Acceso-Usuarios-gris.png'"
        border="0" alt=""/>
        <!--<img src="/images/home/nav-bar/Boton-Acceso-Usuarios-gris.png">-->
    </a>
    <a class="menu" onclick="myFunction()">
        <img src="/images/home/nav-bar/Boton-Salir-Menu-Responsive-OFF.png" 
        onmouseover="this.src='/images/home/nav-bar/Boton-Salir-Modo-Responsive-ON.png'"
        onmouseout="this.src='/images/home/nav-bar/Boton-Salir-Menu-Responsive-OFF.png'"
        border="0" alt=""/>
        <!--<img src="/images/home/nav-bar/Boton-Salir-Menu-Responsive-OFF.png">-->
    </a>
    </div>
    <!--template bindings={}--><div class="overlay overlay-hugeinc">
        <nav>
            <ul class="menus">
                <li class="menuPrimero">
                    <input id="datosCheckbox" name="menu" type="radio">
                    <label class="linkPrimero" for="datosCheckbox">Datos</label>
                    <ul class="submenus">
                        <br>
                        <li><a href="/datos/catalogo.html">Banco de datos</a></li>
                        <li><a href="/datos/tema">Temas</a></li>
                        <li><a href="/datos/organizacion">Publicadores</a></li>
                    </ul>
                </li>
                <li class="menuPrimero">
                    <input id="serviciosCheckbox" name="menu" type="radio">
                    <label class="linkPrimero" for="serviciosCheckbox">Servicios</label>
                    <ul class="submenus">
                        <br>
                        <li><a href="/servicios/aragopedia">Aragopedia</a></li>
                        <li><a href="http://presupuesto.aragon.es/">Presupuestos</a></li>
                        <li><a href="/servicios/open-social-data">Open Social Data</a></li>
                        <li><a href="/servicios/cras">CRAs Aragón</a></li>
                    </ul>
                </li>
                <li class="menuPrimero">
                    <input id="informacionCheckbox" name="menu" type="radio">
                    <label class="linkPrimero" for="informacionCheckbox">Informacion</label>
                    <ul class="submenus">
                        <br>
                        <li><a href="/info/open-data">Informacion</a></li>
                        <li><a href="/info/aplicaciones">Aplicaciones</a></li>
                        <li><a href="/info/eventos">Eventos</a></li>
                        <li><a href="/info/colabora">Colabora</a></li>
                    </ul>
                </li>
                <li class="menuPrimero">
                    <input id="herramientasCheckbox" name="menu" type="radio">
                    <label class="linkPrimero" for="herramientasCheckbox">Herramientas</label>
                    <ul class="submenus">
                        <br>
                        <li><a href="/campus">AOD Campus</a></li>
                        <li><a href="/herramientas/desarrolladores">Desarrolladores</a></li>
                        <li><a href="/herramientas/apis">APIs</a></li>
                        <li><a href="/herramientas/sparql">SPARQL</a></li>
                        <li><a href="https://github.com/aragonopendata/Aragon-Open-Data-3" target="_blank">GITHUB</a></li>
                    </ul>
                </li>
                <li class="menuPrimeroUltimo">
                    <form id="form_header" method="post" onsubmit="return buscaCkan()">
                        <input autocomplete="off" id="buscador_header" placeholder="BUSCA DATOS ABIERTOS" type="search" />
                        <button type="submit" class="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
                    </form>
                </li>
                <!--template bindings={}-->
            </ul>
        </nav>
    </div>
</div>
<div id="separacionMenu"></div></header>
