<div class="seccionHome">
<div id="datosDestacadosTitulo">
		<a href="#content" title="Ir al principio"><img src="/public/i/flechaUp.png" alt="Ir al principio" class="d_d flechaUp"/></a>
		<h1 class="azul i_i">Datos destacados</h1>
	</div>
	<div class="huecoSeccionHome"></div>
		<div class="descripcionTitulo1 i_i grisMedio">Permítenos recomendarte algunos datos abiertos</div>
	</div>
	<ul id="ventanasDatosDestacados">
		<li>
			<div class="i_i hueco60y30">
				<div class="tituloVentana titulosSecundariosNegritas" style="color:white;width: 100%;text-align: left;">
					<div class="hueco">
						Nuevos datos
					</div>
				</div>
				<div class="clear"></div>
				<div class="zonaVentanaDatosDestacados textosNormales" id="zonaVentanaDatosRecientes1">
					<div>
						<a title="Registro de Convenios de Aragón desde 1984 hasta la actualidad" href="/catalogo/registro-de-convenios-de-aragon-1984-2084">Registro de Convenios de Aragón desde 1984 hasta la actualidad</a>
					</div>
					<div class="separadorVentana"></div>
					<div>
						<a title="Registro de Convenios de Aragón 2013" href="/catalogo/registro-de-convenios-de-aragon-2013">Registro de Convenios de Aragón 2013</a>
					</div>
					<div class="separadorVentana"></div>
					<div>
						<a title="Registro de Convenios de Aragón 2012" href="/catalogo/registro-de-convenios-de-aragon-2012">Registro de Convenios de Aragón 2012</a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="i_i hueco60y30">
				<div class="tituloVentana titulosSecundariosNegritas" style="color:white;width: 100%;text-align: left;">
					<div class="hueco">
						Más descargados
					</div>
				</div>
				<div class="clear"></div>
				<div class="zonaVentanaDatosDestacados textosNormales" id="zonaVentanaDatosDescargados1">
					<div>
						<a title="Registro de Convenios de Aragón desde 1984 hasta la actualidad" href="/catalogo/registro-de-convenios-de-aragon-1984-2084">Registro de Convenios de Aragón desde 1984 hasta la actualidad</a>
					</div>
					<div class="separadorVentana"></div>
					<div>
						<a title="Registro de Convenios de Aragón 2013" href="/catalogo/registro-de-convenios-de-aragon-2013">Registro de Convenios de Aragón 2013</a>
					</div>
					<div class="separadorVentana"></div>
					<div>
						<a title="Registro de Convenios de Aragón 2012" href="/catalogo/registro-de-convenios-de-aragon-2012">Registro de Convenios de Aragón 2012</a>
					</div>
				</div>
			</div>
		</li>
		<li class="last">
			<div class="i_i hueco60">
				<div class="tituloVentana titulosSecundariosNegritas" style="color:white;width: 100%;text-align: left;">
					<div class="hueco">
						Estadísticas
					</div>
				</div>
				<div class="clear"></div>
				<div class="zonaVentanaDatosDestacados">
					<div class="azul negrita">
						NÚMERO DE DATASETS
					</div>
					<div class="azul" id="timestampNumDatasets">
						<?php 
						date_default_timezone_set('Europe/Madrid');
						echo date("j.m.Y | G:i:s"); ?>
					</div>
					<div id="numDatasets">
						Cargando...
					</div>
					<div class="separadorVentana"></div>
						<div class="azul negrita">
							NÚMERO DE RECURSOS
						</div>
					<div class="azul" id="timestampNumResources">
						<?php 
						date_default_timezone_set('Europe/Madrid');
						echo date("j.m.Y | G:i:s"); ?>
					</div>
					<div id="numRecursos">
						Cargando...
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="huecoSeccionHome"></div>
</div>
