{% set has_more_length = g.activity_list_limit|int %}
{% set has_more = activities|length > has_more_length %}

{% if activities %}
  <p class="letraGrande bigButton i_i">Última actividad ocurrida en mis conjuntos de datos:</p>
  <div class="clear"></div>
  <div style="padding-bottom:20px"></div>
  <table class="tablaResultadosDataset" data-module="activity-stream" data-module-more="{{ has_more }}" data-module-context="{{ controller }}" data-module-id="{{ id }}" data-module-offset="{{ offset }}">
        <tr>
          <th class="cabeceraTablaResultadosDashboard tamEstrecho">
            <div>USUARIO</div>
          </th>
          <th class="cabeceraTablaResultadosDashboard">
            <div>ACCI&Oacute;N</div>
          </th>
          <th class="cabeceraTablaResultadosDashboard">
            <div>OBJETO</div>
          </th>
          <th class="cabeceraTablaResultadosDashboard tamMuyEstrecho">
            <div>FECHA</div>
          </th>
        </tr>

  {% for activity in activities %}
      {% if loop.index <= has_more_length %}
          {% snippet 'snippets/activity_item.html', activity=activity %}
      {% endif %}
  {% endfor %}
  </table>
  <div class="centrado hueco30">
      {% if offset > 0 %}
        {% if c.group_dict %}
          {% if c.group_dict.get('is_organization') %}
            <a href="{{ h.url_for('/organization/{0}/actividad/{1}'.format(c.group_dict.get('name'), (offset-30 if offset-30 > 0 else 0))) }}" class="recuadroRecto">Ver anteriores</a>
          {% else %}
            <a href="{{ h.url_for(controller=controller, action=action, id=id, offset=(offset-30 if offset-30 > 0 else 0)) }}" class="recuadroRecto">{{ _('Load less') }}</a>
          {% endif %}
        {% else %}
          {% if c.dashboard %}
            <a href="{{ h.url_for('/pizarra/actividad/{0}'.format(offset-30 if offset-30 > 0 else 0)) }}" class="recuadroRecto">Ver anteriores</a>
          {% else %}

            <a href="{{ h.url_for(controller=controller, action=action, id=id, offset=(offset-30 if offset-30 > 0 else 0)) }}" class="recuadroRecto">{{ _('Load less') }}</a>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if has_more %}
        {% if c.group_dict %}
          {% if c.group_dict.get('is_organization') %}
            <a href="{{ h.url_for('/organization/{0}/actividad/{1}'.format(c.group_dict.get('name'), offset+30)) }}" class="recuadroRecto">Ver siguientes</a>
          {% else %}
            <a href="{{ h.url_for(controller=controller, action=action, id=id, offset=offset+30) }}" class="recuadroRecto">{{ _('Load more') }}</a>
          {% endif %}
        {% else %}
          {% if c.dashboard %}
            <a href="{{ h.url_for('/pizarra/actividad/{0}'.format(offset+30)) }}" class="recuadroRecto">Ver siguientes</a>
          {% else %}
            <a href="{{ h.url_for(controller=controller, action=action, id=id, offset=offset+30) }}" class="recuadroRecto">{{ _('Load more') }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
  </div>
{% else %}
  <p class="empty">{{ _('No activities are within this activity stream') }}</p>
{% endif %}
