<section class="additional-info">
  <h3>PROPIEDADES DE LOS METADATOS</h3>
  <div class="fieldName">T&iacute;tulo</div>
  <div class="fieldValue">{{ pkg_dict.title }}</div>
  <div class="fieldName">Descripci&oacute;n</div>
  <div class="fieldValue pkg_description">{{ c_aux.pkg_notes_formatted }}</div>
  <div class="fieldName">Categor&iacute;a</div>
  <div class="fieldValue">
  {% for group in pkg_dict.get('groups') %}
    <p><a href="{{h.url_for(controller='package', action='searchAOD', tema=group.name)}}" title="Ir a categor&iacute;a {{group.title}}">{{group.title}}</a></p>
  {% endfor %}
  </div>

  <div class="fieldName">Palabra clave / etiqueta</div>
  <div class="fieldValue">
    {% snippet "package/snippets/tags.html", tags=pkg_dict.tags %}
  </div>
  

    {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        {% if key == 'modifiedDate' %}
          <div class="fieldName">Fecha de publicaci&oacute;n</div>
          <div class="fieldValue">{{ value }}</div>
        {% elif key == 'issuedDate' %}
          <div class="fieldName">Fecha de modificaci&oacute;n</div>
          <div class="fieldValue">{{ value }}</div>
        {% endif %}
    {% endfor %}

  {% if pkg_dict.organization %}
  <div class="fieldName">Publicador</div>
  <div class="fieldValue">
    <a href="/catalogo/organizacion/{{pkg_dict.organization.name}}" title="{{pkg_dict.organization.title}}">{{pkg_dict.organization.title}}</a>
  </div>
  {% endif %}
  
  
  {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        {% if value != "" %}
          {% if key == 'nameAragopedia' %}
            <div class="fieldName">Cobertura geogr&aacute;fica</div>
            <div class="fieldValue">{{ value }}</div>
          {% elif key == 'Frequency' %}
            <div class="fieldName">Frecuencia</div>
            <div class="fieldValue">{{ value }}</div>
          {% elif key == 'Spatial' %}
            <div class="fieldName">Cobertura espacial</div>
            <div class="fieldValue">{{ value }}</div>
          {% endif %}
        {% endif %}
  {% endfor %}
  
  
  {% set coberturaTemporal="De " %}
  {% for extra in h.sorted_extras(pkg_dict.extras) %}
     {% set key, value = extra %}
       {% if key == 'TemporalFrom' %}
         {% if value != "" %}
           {% set coberturaTemporal= coberturaTemporal + value %}
         {% endif %}
       {% endif %}
       {% if key == 'TemporalUntil' %}
         {% if coberturaTemporal != "" %}
           {% if value != "" %}
             {% set coberturaTemporal= coberturaTemporal + ' a ' + value %}
           {% else %}
             {% set coberturaTemporal= coberturaTemporal + ' a actualidad' %}
           {% endif %}
           {% if coberturaTemporal != "" %}
              <div class="fieldName">Cobertura temporal</div>
              <div class="fieldValue">{{ coberturaTemporal }}</div>
           {% endif %}
         {% endif %}
       {% endif %}
  {% endfor %}

  <div class="fieldName">Licencia</div>
  <div class="fieldValue"> <a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">Creative Commons Attribution</a> (cc-by) </div>


 {% set idiomas = "" %}
    {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set todoLosIdiomas = 0 %}
        {% set key, value = extra %}
        {% if value != "" %}
          {% if ( key == 'langES' and value !="" ) %}
            {% if idiomas !="" %}
              {% set idiomas = idiomas + '; ' + 'Español' %}
            {% else %}
              {% set idiomas = idiomas + 'Español' %}
            {% endif %}
          {% elif ( key == 'langEN' and value !="" ) %}
            {% if idiomas !="" %}
              {% set idiomas = idiomas + '; ' + 'Inglés' %}
            {% else %}
              {% set idiomas = idiomas + 'Inglés' %}
            {% endif %}
          {% elif ( key == 'langFR' and value !="" ) %}
            {% if idiomas !="" %}
              {% set idiomas = idiomas + '; ' + 'Francés' %}
            {% else %}
              {% set idiomas = idiomas + 'Francés' %}
            {% endif %}
          {% elif ( key == 'langAR' and value !="" ) %}
            {% if idiomas !="" %}
              {% set idiomas = idiomas + '; ' + 'Lenguas aragonesas' %}
            {% else %}
              {% set idiomas = idiomas + 'Lenguas aragonesas' %}
            {% endif %}
          {% elif ( key == 'langOtherValue' and value !="" ) %}
            {% set todoLosIdiomas = 1 %}
            {% if idiomas !="" %}
              {% set idiomas = idiomas + '; ' + value %}
            {% else %}
              {% set idiomas = idiomas + value %}
            {% endif %}
          {% endif %}
        {% endif %}
          
        {% if todoLosIdiomas == 1 %}
          <div class="fieldName">Idiomas</div>
          <div class="fieldValue">{{ idiomas }}</div>
        {% endif %}
    {% endfor %}
    
    {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        {% if value != "" %}
          {% if key == 'Granularity' %}
            <div class="fieldName">Nivel de detalle</div>
            <div class="fieldValue">{{ value }}</div>
          {% endif %}
        {% endif %}
    {% endfor %}
    
    {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        {% if value != "" %}
          {% if key == 'Data Quality' %}
            <div class="fieldName">Calidad del dato</div>
            <div class="fieldValue"> {{ value }} </div>
          {% elif key == 'Data Quality URL0' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[1] {{ value }}</a></div>
          {% elif key == 'Data Quality URL1' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[2] {{ value }}</a></div>
          {% elif key == 'Data Quality URL2' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[3] {{ value }}</a></div>
          {% elif key == 'Data Quality URL3' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[4] {{ value }}</a></div>
          {% elif key == 'Data Quality URL4' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[5] {{ value }}</a></div>
          {% elif key == 'Data Quality URL5' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[6] {{ value }}</a></div>
          {% elif key == 'Data Quality URL6' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[7] {{ value }}</a></div>
          {% elif key == 'Data Quality URL7' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[8] {{ value }}</a></div>
          {% elif key == 'Data Quality URL8' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[9] {{ value }}</a></div>
          {% elif key == 'Data Quality URL9' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de calidad de datos">[10] {{ value }}</a></div>
          {% elif key == 'Data Dictionary' %}
            <div class="fieldName">Diccionario de datos</div>
            <div class="fieldValue"> {{ value }} </div>
          {% elif key == 'Data Dictionary URL0' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[1] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL1' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[2] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL2' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[3] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL3' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[4] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL4' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[5] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL5' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[6] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL6' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[7] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL7' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[8] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL8' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[9] {{ value }}</a></div>
          {% elif key == 'Data Dictionary URL9' %}
            <div class="fieldValue"><a href="{{ value }}" title="Url de diccionario de datos">[10] {{ value }}</a></div>
          {% endif %}
      {% endif %}
    {% endfor %}

  
  
  
  
</section>
