{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<section id="dataset-resources" class="resources">
  <h3>DESCARGAS</h3>
  <div class="negrita">Metadato de la colecci&oacute;n</div>
  <div>
   <ul><li><a class="recuadroNoResaltado" title="Metadato de la colecci&oacute;n en RDF" href="{{h.url_for(controller='package', action='read', id=pkg.name)}}.rdf">RDF</a></li></ul>
</div>
	
  {% block resource_list %}
  {% if resources %}
      {% block resource_list_inner %}
      {% for res in resources %}

        <div>{{ h.resource_display_name(res) | truncate(50) }}</div>

        {#% set url = h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id) %#}
        {% set url = res.url %}
        {% set elFormatoMimetype = res.mimetype_inner %}
        {% set elFormato = h.getFormatFromMimetype(elFormatoMimetype) %}
        {% set modoAcceso = res.mimetype %}

        <div>
        <ul>
           {% if not '/showVista' in url %}
             {% if 'text/html' in modoAcceso %}
               <li><a class="recuadroNoResaltado AGN" href="{{ url }}" target="_blank" title="{{ res.name or res.description }}">
             {% else %}
               <li><a class="recuadroNoResaltado AGN" href="{{ url }}" download title="{{ res.name or res.description }}">
             {% endif %}

                <span class="format-label" property="dc:format" data-format="{{ elFormato.lower() or 'data' }}">{{ elFormato.upper() }}</span>

            </a></li>
           {% endif %}
        {% if elFormato.lower() == 'xls' %}
           {# Si se tiene alg&uacute;n modo de acceso (zip, html...) no se mostraran las conversiones a xml, csv y json que se generan al vuelo, en caso de tenerlo si #}
           {% if not modoAcceso  %}
              {% set urlConversionFormato = '/catalogo/render/resource/' + res.name %}
           <li><a class="recuadroNoResaltado" href="{{ urlConversionFormato + '.xml' }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ elFormato.lower() or 'data' }}">XML</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{ urlConversionFormato + '.csv' }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ elFormato.lower() or 'data' }}">CSV</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{ urlConversionFormato + '.json' }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ elFormato.lower() or 'data' }}">JSON</span>
          </a></li>
  
{#%
            <a py:if="res.get('format') == 'XLS'" class="recuadroNoResaltado" href="${h.resource_url_for(res, 'xml')}" title="${h.resource_display_name(res)} (${res.get('format')})">XML</a>
            <a py:if="res.get('format') == 'XLS'" class="recuadroNoResaltado" href="${h.resource_url_for(res, 'csv')}" title="${h.resource_display_name(res)} (${res.get('format')})">CSV</a>
            <a py:if="res.get('format') == 'XLS'" class="recuadroNoResaltado" href="${h.resource_url_for(res, 'json')}" title="${h.resource_display_name(res)} (${res.get('format')})">JSON</a>
%#}
           {% endif %}
         {% endif %}
         {% if '/recurso/territorio/' in url %}
           {% set splitURL = url.split("?") %}
           <li><a class="recuadroNoResaltado" href="{{ splitURL[0] + '.xml'  + '?' + splitURL[1] }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">XML</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{ splitURL[0] + '.csv'  + '?' + splitURL[1] }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">CSV</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{ splitURL[0] + '.json'  + '?' + splitURL[1] }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">JSON</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{ splitURL[0] + '.ttl'  + '?' + splitURL[1] }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">TTL</span>
          </a></li>
         {% endif %}

         {% if '/showVista' in url %}
           <li><a class="recuadroNoResaltado" href="{{ url +  '&formato=XML&name=' + res.name }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">XML</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{ url +  '&formato=CSV&name=' + res.name }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">CSV</span>
           </a></li>
           <li><a class="recuadroNoResaltado" href="{{  url + '&formato=JSON&name=' + res.name }}" title="{{ res.name or res.description }}">
             <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">JSON</span>
           </a></li>
         {% endif %}
         </ul>
         </div>
        {#% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource %#}
      {% endfor %}
      {% endblock %}
  {% endif %}
  {% endblock %}
</section>
