{% extends "page.html" %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}
      <h1 class="i_i tituloDataset" style="width: 85%;">Organizaciones que publican datos en Aragón Open Data</h1>

{% block package_social %}
	{% snippet "snippets/socialAOD.html" %}
{% endblock %}
<div class="clear"></div>
<div class="hueco30"></div>

<div class="clear"></div>
      {% block organizations_search_form %}
      {% endblock %}
      {% block organizations_list %}
      {% if c.page.items or request.params %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no organizations for this site') }}.
          {% if h.check_access('organization_create') %}
            {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
          {% endif %}
        </p>
      {% endif %}
      {% endblock %}
    {% block page_pagination %}
    {{ c.page.pager() }}
    {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/helper.html" %}
{% endblock %}
