<footer>
<div id="pie">
<ul id="pieUL"><li id="pieULLI">
<div class="pieInterior">
	<div class="pieZonaUno">
		<img src="/public/i/footer/textoAOD.png" alt="Arag&oacute;n Open Data" id="pieZonaUnoRoot"/> &gt; HOME
	</div>
	<div class="clear"></div>
	<div class="pieZonaDos">
		<ul>
		<li>
		<table>
			<tr><td class="titulo"><img src="/public/i/footer/textoAvisoLegal.png" alt="Aviso legal"/></td></tr>
			<tr><td><a href="/portal/terminos" title="T&eacute;rminos de uso"><img src="/public/i/footer/cajaTerminosUso.jpg" alt="T&eacute;rminos de uso"/></a></td></tr>
			<tr><td><img src="/public/i/footer/cajaCCconTexto.jpg" alt="Licencia Creative Commons" height="96" width="215"/></td></tr>
			<tr><td><img src="/public/i/footer/banderaUEconTexto.png" alt="Uni&oacute;n Europea - Fondo Europeo de Desarrollo Regional" class="recuadroPie" /></td></tr>
		</table>
		</li>
<li class="clear visible-xs tamCero"></li>
		<li>
		<table>
			<tr><td class="titulo"><img src="/public/i/footer/textoPoweredBy.png" alt="Powered by"/></td></tr>
			<tr><td><a href="http://ckan.org/" title="CKAN"><img src="/public/i/footer/cajaLogoCKAN.jpg" alt="CKAN"/></a></td></tr>
			<tr><td><a href="http://www.wolfcms.org/" title="Wolf CMS"><img src="/public/i/footer/cajaLogoWolfCMS.jpg" alt="Wolf CMS"/></a></td></tr>
			<tr><td><a href="http://www.mediawiki.org/" title="MediaWiki"><img src="/public/i/footer/cajaLogoMediaWiki.jpg" alt="MediaWiki"/></a></td></tr>
			<tr><td><a href="http://virtuoso.openlinksw.com/" title="Virtuoso"><img src="/public/i/footer/cajaLogoVirtuoso.jpg" alt="Virtuoso"/></a></td></tr>
		</table>
		</li>
<li class="clear visible-xs tamCero"></li>
<li class="clear visible-ms tamCero"></li>
		<li>
		<table>
			<tr><td class="titulo"><img src="/public/i/footer/textoAOD.png" alt="Arag&oacute;n Open Data"/></td></tr>
			<tr><td>
<div class="pieZonaEnlaces">
<ul class="styleDiscUL">
<li><a href="/catalogo" title="Datos" class="pieEnlace">DATOS</a></li>
<li><a href="/aragopedia" title="AragoPedia" class="pieEnlace">ARAGOPEDIA</a></li>
<li><a href="/portal/escucha-activa" title="Escucha Activa" class="pieEnlace">ESCUCHA ACTIVA</a></li>
<li><a href="/portal/colabora" title="Colabora" class="pieEnlace">COLABORA</a></li>
<li><a href="/portal/aplicaciones" title="Aplicaciones" class="pieEnlace">APLICACIONES</a></li>
<li><a href="/portal/informacion" title="Informaci&oacute;n Open Data" class="pieEnlace">INFO OPEN DATA</a></li>
</ul>
</div>
</td></tr>
		</table>
		</li>
<li class="clear visible-xs tamCero"></li>
		<li>
		<table class="last">
			<tr><td class="titulo"><img src="/public/i/footer/textoRedesSociales.png" alt="Redes Sociales"/></td></tr>
			<tr><td><a href="http://www.facebook.com/observatorio.aragones" title="Facebook"><img src="/public/i/footer/cajaLogoFacebook.jpg" alt="Facebook"/></a></td></tr>
			<tr><td><a href="http://www.twitter.com/oasi" title="Twitter"><img src="/public/i/footer/cajaLogoTwitter.jpg" alt="Twitter"/></a></td></tr>
			<tr><td><a href="http://www.youtube.com/" title="YouTube"><img src="/public/i/footer/cajaLogoYouTube.jpg" alt="YouTube"/></a></td></tr>
			<tr><td><a href="mailto:opendata@aragon.es" title="Contacto AOD"><img src="/public/i/footer/cajaCorreoAOD.jpg" alt="Contacto AOD"/></a></td></tr>
		</table>
		</li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="pieZonaTres">
		<ul>
			<li class="izquierda textoPie">
				<p>GOBIERNO DE ARAG&Oacute;N</p>
				<p>EDIFICIO PIGNATELLI</p>
				<address>PASEO MAR&iacute;A AGUST&iacute;N, 36 50071 ZARAGOZA TEL. 976 714 000</address>
			</li>
			<li class="derecha">
				<a target="_blank" href="http://www.aragon.es" title="Gobierno de Arag&oacute;n"><img width="132" height="28" alt="Gobierno de Arag&oacute;n" src="/public/i/footer/logo_aragob_pie.png"></a>
			</li>
		</ul>
	</div>
<div class="clear"></div>
</div>
</li></ul>
</div>
</footer>