{% block header_wrapper %}
{% block header_account %}

<header>
<div id="cabeceraRelacionados">
	<ul>
		<li class="active"><a href="http://opendata.aragon.es" title="Open data">OPEN DATA</a><p class="clear visible-xs"></p></li>
<li class="clear visible-xs tamCero"></li>
		<li><a href="http://aragonparticipa.aragon.es" title="Participaci&oacute;n ciudadana">PARTICIPACI&Oacute;N CIUDADANA</a></li>
	</ul>
</div>
<div id="cabecera">
	<ul>
		<li><a href="http://www.aragon.es" target="_blank"><img src="/public/i/logo_aragob.png" width="127" height="28" alt="Gobierno de Arag&oacute;n" title="Gobierno de Arag&oacute;n" /></a></li>
	</ul>
</div>

<div class="banner">
	<div class="bannerInline bannerLogo" style="text-align: right;" >
		<a href="/" title="ARAGÓN OPEN DATA"><img class=""  id="idTotal" src="http://opendata.aragon.es/public/i/logo_aod.png" alt="ARAGÓN OPEN DATA"></a>
	</div>
	<div class="bannerInline bannerBuscador" style="text-align: left; padding-top: 1.5%;">
		<form id="cajaBusqBanner" action="/catalogo" method="get">
<!--			<label for="cajaDeBusqInput" class="oculto">Buscar conjuntos de datos</label>-->
			
			<input id="cajaDeBusqInput" name="q" value="" class="search anchoSearchBanner" type="text"">
			<button class="btn-search" type="submit">Buscar</button>
			<!--<input id="cajaBusqInput" type="text" name="q" value="" class="search anchoSearchBanner d_d" placeholder="ARAG&Oacute;N OPEN DATA BUSCA DATOS" />-->
		</form>
	</div>
</div>
<div class="clear"></div>

  </header>
  
  
{% endblock %}

{% endblock %}
<nav>
  <div id="navegacion" class="botones botonesSuperiorLista">
    <ul>
      <li onmousedown="javascript:this.className='botonSuperiorClicked first';" onmouseup="javascript:this.className='botonSuperiorClicked first';"
            onmouseover="javascript:this.className='botonSuperiorOver first';" onmouseout="javascript:this.className='botonSuperiorClicked first';"
            onclick="javascript:window.location='/catalogo';" class="botonSuperiorClicked first" title="Datos"><img src="/public/i/header/datos.png" alt="Datos" title="Datos"></li>
      <li onmousedown="javascript:this.className='botonSuperiorClicked second';" onmouseup="javascript:this.className='botonSuperior second';"
            onmouseover="javascript:this.className='botonSuperiorOver second';" onmouseout="javascript:this.className='botonSuperior second';"
            onclick="javascript:window.location='/aragopedia';" class="botonSuperior second" title="AragoPedia"><img src="/public/i/header/aragopedia.png" alt="AragoPedia" title="AragoPedia"></li>
<li class="clear visible-xs tamCero"></li>
      <li onmousedown="javascript:this.className='botonSuperiorClicked third';" onmouseup="javascript:this.className='botonSuperior third';"
            onmouseover="javascript:this.className='botonSuperiorOver third';" onmouseout="javascript:this.className='botonSuperior third';"
            onclick="javascript:window.location='/portal/social-data';" class="botonSuperior third" title="Social Data"><img src="/public/i/header/socialData.png" alt="Social Data" title="Social Data"></li>
<li class="clear visible-ms tamCero"></li>
      <li onmousedown="javascript:this.className='botonSuperiorClicked fourth';" onmouseup="javascript:this.className='botonSuperior fourth';"
            onmouseover="javascript:this.className='botonSuperiorOver fourth';" onmouseout="javascript:this.className='botonSuperior fourth';"
            onclick="javascript:window.location='/portal/colabora';" class="botonSuperior fourth" title="Colabora"><img src="/public/i/header/colabora.png" alt="Colabora" title="Colabora"></li>
<li class="clear visible-xs tamCero"></li>
      <li onmousedown="javascript:this.className='botonSuperiorClicked fifth';" onmouseup="javascript:this.className='botonSuperior fifth';"
            onmouseover="javascript:this.className='botonSuperiorOver fifth';" onmouseout="javascript:this.className='botonSuperior fifth';" 
            onclick="javascript:window.location='/portal/aplicaciones';" class="botonSuperior fifth" title="Aplicaciones"><img src="/public/i/header/aplicaciones.png" alt="Aplicaciones" title="Aplicaciones"></li>
      <li onmousedown="javascript:this.className='botonSuperiorClicked last';" onmouseup="javascript:this.className='botonSuperior last';"
            onmouseover="javascript:this.className='botonSuperiorOver last';" onmouseout="javascript:this.className='botonSuperior last';" 
            onclick="javascript:window.location='/portal/open-data';" class="botonSuperior last" title="Informaci&oacute;n sobre Open Data"><img src="/public/i/header/infoOpenData.png" alt="Informaci&oacute;n sobre Open Data" title="Informaci&oacute;n sobre Open Data"></li>
      </ul>
  </div>
</nav>

    <div class="container">
      {% if c.userobj %}
        <div class="account avatar authed d_d" data-module="me" data-me="{{ c.userobj.id }}">
          <ul class="optionsLogged">
            {% block header_account_logged %}
            {% if c.userobj.sysadmin %}
              <li>
                <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                  <i class="icon-legal"></i>
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                <span class="username">{{ c.userobj.display_name }}</span>
              </a>
            </li>
            <li class="notifications {% if c.new_activities > 0 %}notifications-important{% endif %}">
              {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', c.new_activities) %}
              <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                <i class="icon-dashboard"></i>
                <span>{{ c.new_activities }}</span>
              </a>
            </li>
            {% block header_account_settings_link %}
            <li>
              <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                <i class="icon-cog"></i>
              </a>
            </li>
            {% endblock %}
            {% block header_account_log_out_link %}
            <li>
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                <i class="icon-signout"></i>
              </a>
            </li>
            {% endblock %}
            {% endblock %}
          </ul>
        </div>
      {% endif %}
    </div>
