{% extends "page.html" %}

{% block subtitle %}{{ _('Groups of Datasets') }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}
      <h2 class="i_i " style="width: 85%;">TEMAS</h2>

{% block package_social %}
	{% snippet "snippets/socialAOD.html" %}
{% endblock %}
<div class="clear"></div>



<!--Realizamos la carga de los js y css-->
<!--Según el valor del comboBox se vera de un modo u otro-->
<link rel="stylesheet" href="../../public/temaOrganizacion/css/main.css" type="text/css">
<script type="text/javascript" src="../../public/temaOrganizacion/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="../../public/temaOrganizacion/js/main.js"></script>


<div class="hueco30"></div>


<div class="clear"></div>


<div class="temaFicha resultadosTemas">
{% if c.page.items or request.params %}
	<ul class="tema-list">
		{% for tema in c.page.items %}
			<li>
				{% snippet "group/snippets/tema_ficha.html", tema=tema, position=loop.index, numeroTotalTemas=c.page.items|length %}
			</li>

		{% endfor %}

	</ul>

{% else %}
	<div class="noContent">No se encuentra organizaciones</div>
{% endif %}
	
</div>


{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/helper.html" %}
{% endblock %}

<div class="hueco30"></div>





