<div class="control-group">

    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 1)}}">Tema estadístico</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 1)}}" name="{{'extras__%d__key' % (numero + 1)}}" type="hidden" value="01_IAEST_Tema estadístico" />
                <input id="{{'field-extras-%d-value' % (numero + 1)}}" name="{{'extras__%d__value' % (numero + 1)}}" type="text" value="" ></input>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 2)}}">Unidad Estadística</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 2)}}" name="{{'extras__%d__key' % (numero + 2)}}" type="hidden" value="02_IAEST_Unidad Estadística" />
                <input id="{{'field-extras-%d-value' % (numero + 2)}}" name="{{'extras__%d__value' % (numero + 2)}}" type="text" value="" ></input>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 3)}}">Población estadística</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 3)}}" name="{{'extras__%d__key' % (numero + 3)}}" type="hidden" value="03_IAEST_Población estadística" />
                <input id="{{'field-extras-%d-value' % (numero + 3)}}" name="{{'extras__%d__value' % (numero + 3)}}" type="text" value="" ></input>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 4)}}">Unidad de medida</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 4)}}" name="{{'extras__%d__key' % (numero + 4)}}" type="hidden" value="04_IAEST_Unidad de medida" />
                <input id="{{'field-extras-%d-value' % (numero + 4)}}" name="{{'extras__%d__value' % (numero + 4)}}" type="text" value="" ></input>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 5)}}">Cobertura temporal</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 5)}}" name="{{'extras__%d__key' % (numero + 5)}}" type="hidden" value="05_IAEST_Cobertura temporal" />
                <textarea id="{{'field-extras-%d-value' % (numero + 5)}}" name="{{'extras__%d__value' % (numero + 5)}}"  value="" ></textarea>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 6)}}">Periodo base</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 6)}}" name="{{'extras__%d__key' % (numero + 6)}}" type="hidden" value="06_IAEST_Periodo base" />
                <input id="{{'field-extras-%d-value' % (numero + 6)}}" name="{{'extras__%d__value' % (numero + 6)}}" type="text" value="" ></input>
            </div>
    </div>

    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 7)}}">Tipo de operación</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 7)}}" name="{{'extras__%d__key' % (numero + 7)}}" type="hidden" value="07_IAEST_Tipo de operación" />
                <select id="{{'field-extras-%d-value' % (numero + 7)}}" name="{{'extras__%d__value' % (numero + 7)}}">
                    <option value="-1"></option>
                    <option value="Estructural">Estructural</option>
                    <option value="Coyuntural">Coyuntural</option>
                    <option value="Infraestructura">Infraestructura (creación y desarrollo de BD)</option>
                    <option value="Recopilación">Recopilación</option>
                </select>
            </div>
    </div>

    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 8)}}">Tipología de datos de origen</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 8)}}" name="{{'extras__%d__key' % (numero + 8)}}" type="hidden" value="08_IAEST_Tipología de datos de origen" />
                <select id="{{'field-extras-%d-value' % (numero + 8)}}" name="{{'extras__%d__value' % (numero + 8)}}">
                    <option value="-1"></option>
                    <option value="Datos estadísticos censales">Datos estadísticos censales</option>
                    <option value="Datos estadísticos muestrales">Datos estadísticos muestrales</option>
                    <option value="Datos estadísticos combinados de censo y muestra">Datos estadísticos combinados de censo y muestra</option>
                    <option value="Datos de origen administrativo">Datos de origen administrativo</option>
                    <option value="Tablas estadísticas previamente elaboradas">Tablas estadísticas previamente elaboradas</option>
                    <option value="Recopilación de resultados estadísticos">Recopilación de resultados estadísticos</option>
                </select>
            </div>
    </div>

    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 9)}}">Fuente</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 9)}}" name="{{'extras__%d__key' % (numero + 9)}}" type="hidden" value="09_IAEST_Fuente" />
                <input id="{{'field-extras-%d-value' % (numero + 9)}}" name="{{'extras__%d__value' % (numero + 9)}}" type="text" value="" ></input>
            </div>
    </div>

     <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 10)}}">Formato de la fuente</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 10)}}" name="{{'extras__%d__key' % (numero + 10)}}" type="hidden" value="10_IAEST_Formato de la fuente" />
                <select id="{{'field-extras-%d-value' % (numero + 10)}}" name="{{'extras__%d__value' % (numero + 10)}}">
                    <option value="-1"></option>
                    <option value="Microdato origen muestral">Microdato origen muestral</option>
                    <option value="Microdato Registro administrativo">Microdato Registro administrativo</option>
                    <option value="Conjunto de datos no tabulados">Conjunto de datos no tabulados</option>
                    <option value="Tablas estadísticas">Tablas estadísticas</option>
                    <option value="Varios">Varios</option>
                </select>
            </div>
    </div>

    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 11)}}">Tratamiento estadístico</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 11)}}" name="{{'extras__%d__key' % (numero + 11)}}" type="hidden" value="11_IAEST_Tratamiento estadístico" />
                <select id="{{'field-extras-%d-value' % (numero + 11)}}" name="{{'extras__%d__value' % (numero + 11)}}">
                    <option value="-1"></option>
                    <option value="Explotación y tabulación de BD con datos individualizados con factor o sin factor de elevación">Explotación y tabulación de BD con datos individualizados con factor o sin factor de elevación</option>
                    <option value="Compilación y tabulación de datos de origen diverso elaborados estadísticamente por otros organismos">Compilación y tabulación de datos de origen diverso elaborados estadísticamente por otros organismos</option>
                    <option value="Recopilación, tabulación o integración en BD de de operaciones/productos del IAEST">Recopilación, tabulación o integración en BD de de operaciones/productos del IAEST</option>
                    <option value="Procedimientos estadísticos de síntesis o estimación">Procedimientos estadísticos de síntesis o estimación</option>
                </select>
            </div>
    </div>

     <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 12)}}">Formatos de difusión</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 12)}}" name="{{'extras__%d__key' % (numero + 12)}}" type="hidden" value="12_IAEST_Formatos de difusión" />
                <select id="{{'field-extras-%d-value' % (numero + 12)}}" name="{{'extras__%d__value' % (numero + 12)}}">
                    <option value="-1"></option>
                    <option value="10.1. Comunicados">10.1. Comunicados</option>
                    <option value="10.2. Publicaciones">10.2. Publicaciones</option>
                    <option value="10.2A Datos Básicos">10.2A Datos Básicos</option>
                    <option value="10.3. Base de Datos On-line">10.3. Base de Datos On-line</option>
                    <option value="10.3A. Base de Datos On-line SECA">10.3A. Base de Datos On-line SECA</option>
                    <option value="10.3B. Base de Datos On-line DWH">10.3B. Base de Datos On-line DWH</option>
                    <option value="10.3C. Base de Datos On-line PC-AXIS">10.3C. Base de Datos On-line PC-AXIS</option>
                    <option value="10.4 Acceso a micro-datos">10.4 Acceso a micro-datos</option>
                    <option value="10.5. Otras">10.5. Otras</option>
                </select>
            </div>
    </div>



    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 13)}}">Nombre de la operación en el PEN 2013-2016</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 13)}}" name="{{'extras__%d__key' % (numero + 13)}}" type="hidden" value="13_IAEST_Nombre de la operación en el PEN 2013-2016" />
                <input id="{{'field-extras-%d-value' % (numero + 13)}}" name="{{'extras__%d__value' % (numero + 13)}}" type="text" value="" ></input>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 14)}}">Código de la operación en el PEN 2013-2016</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 14)}}" name="{{'extras__%d__key' % (numero + 14)}}" type="hidden" value="14_IAEST_Código de la operación en el PEN 2013-2016" />
                <input id="{{'field-extras-%d-value' % (numero + 14)}}" name="{{'extras__%d__value' % (numero + 14)}}" type="text" value="" ></input>
            </div>
    </div>
    <div class="control-group">
            <label class="control-label" for="{{'field-extras-%d-value' % (numero + 15)}}">Legislación UE</label>
            <div class="controls">
                <input id="{{'field-extras-%d-key' % (numero + 15)}}" name="{{'extras__%d__key' % (numero + 15)}}" type="hidden" value="15_IAEST_Legislación UE" />
                <input id="{{'field-extras-%d-value' % (numero + 15)}}" name="{{'extras__%d__value' % (numero + 15)}}" type="text" value="" ></input>
            </div>
    </div>
  </div>