{# This snippet creates a form to update password of a user. It is mandatory to provide previous password
#}
<form id="updatePasswordForm" class="" method="post" action="/catalogo/user/edit">
  <input type="hidden" value="" name="email" id="field-email-for-password">
  <table>
    <tr>
      <td style="width:454px"">
        <label for="field-username" class="fieldName">Nombre de usuario:</label>
        <div class="mandatory" title="Obligatorio">*</div>
      </td>
      <td>
        <input type="text" disabled="" placeholder="" value="{{user}}" name="nameVisible" style="width:480px" id="field-username-visible" autocomplete="off">
        <input type="hidden" placeholder="" value="{{user}}" name="name" id="field-username">
      </td>
    </tr>
    <tr>
      <td>
        <label for="field-current-password" class="fieldName">Contraseña actual:</label>
        <div class="mandatory" title="Obligatorio">*</div>
      </td>
      <td>
        <input type="password" autocomplete="off" id="field-current-password" style="width:480px;" name="current_password" value="" placeholder="">
      </td>
    </tr>
    <tr>
      <td>
        <label for="field-password" class="fieldName">Contraseña:</label>
        <div class="mandatory" title="Obligatorio">*</div>
      </td>
      <td>
        <input type="password" autocomplete="off" id="field-password" style="width:480px;" name="password1" value="" placeholder="">
      </td>
    </tr>
    <tr>
      <td>
        <label for="field-password-confirm" class="fieldName">Confirmar contraseña:</label>
        <div class="mandatory" title="Obligatorio">*</div>
      </td>
      <td>
        <input type="password" autocomplete="off" id="field-password-confirm" style="width:480px;" name="password2" value="" placeholder="">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a class="recuadroRecto letraGrande bigButton d_d" href="javascript:updateUserInfo();">Actualizar contraseña</a>
        <input type="hidden" name="save">
      </td>
    </tr>
   </table>
</form>
