{% set current_url = h.full_current_url() %}
<section class="socialDataset">
  <ul>
    <li><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank" title="Compartir en facebook"><img src="/public/i/buscaDatos/facebookIcon.png" alt="Facebook"></a></li>
    <li><a href="https://twitter.com/share?url={{ current_url }}" target="_blank" title="Compartir en twitter"><img src="/public/i/buscaDatos/twitterIcon.png" alt="Twitter"></a></li>
    <li><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank" title="Compartir en Google Plus"><img src="/public/i/buscaDatos/googlePlusIcon.png" alt="Google Plus"></a></li>    
  </ul>
</section>
<div class="clear"></div>
